* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

@font-face {
    font-family: Bartek-Industry;
    src: url(Bartek-Industry.ttf);
  }

body, html {
    font-family: "Bartek-Industry";
    scroll-behavior: smooth;
}

.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 18pt;
    display: flex;
    justify-content: center;
}

.dropdown {
    display: inline-block;
    position: relative; /* Ensures that the dropdown content is positioned relative to this element */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 20);
    z-index: 1;
    min-width: 160px;
    left: 50%;
    transform: translateX(-50%); /* Centers the dropdown content */
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #6667ab;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block; /* Ensures dropdown content appears on hover */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #6667ab;
    color: #fff;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
}
.menu a:hover {
    color: #6667AB;
    transition: 0.3s ease-in;
}

.menu a {
    color: white;
    text-decoration: none;
    font-family:monospace;
    font-size: 20pt;
    margin: 0 15px;
}
section {
    padding: 100px 20px;
    text-align: center;
}

#home {
       background-color: #f2f2f2;
      background-image: 
      linear-gradient(45deg, rgb(0 0 0 / 0%) 25%, #6667ab00 25%),
      linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, #00000000 25%),
      linear-gradient(45deg, #8583ff00 75%, rgb(0 0 0 / 18%) 75%),
      linear-gradient(-45deg, #6667ab 75%, rgb(0 0 0 / 0%) 75%);
      background-size: 40px 40px;
      background-position: 0 0, 0 20px, 20px -20px, -20px 0;
    }
  #domovv {
        background-color: #f2f2f2;
       background-image: 
       linear-gradient(45deg, rgb(0 0 0 / 0%) 25%, #6667ab00 25%),
       linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, #00000000 25%),
       linear-gradient(45deg, #8583ff00 75%, rgb(0 0 0 / 18%) 75%),
       linear-gradient(-45deg, #d7be08 75%, rgb(0 0 0 / 0%) 75%);
     }

#offers {
    background: #f4f4f4; 
}

#portfolio {
    background: #eaeaea;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#slider-background {
    background: url('https://via.placeholder.com/1920x400') no-repeat center center/cover;
    padding: 50px 0;
    position: relative;
}


#pricing {
    background: #eaeaea;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
#subory {
    background: #eaeaea;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

#reviews {
    background: #f4f4f4;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
 
#contact {
    background: linear-gradient(to right, #6667AB, #9798c6 ); /* Example gradient */
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
#contactsutaz {
    background: linear-gradient(to right, #d7be08, #ffee7b ); /* Example gradient */
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
h1, h2 {
    margin-bottom: 20px;
    font-size: 35pt;
    color: #f4f4f4;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 2px ;
    border-radius: 15px; 
    padding: 3px; 
    
}

img {
    max-width: 100%;
}

/* Portfolio grid */
.portfolio-grid {
    font-family: monospace;
    font-size: 15pt;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.portfolio-grid div {
    flex: 1;
    margin: 10px;
}

/* Offers grid */
.offers-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.offers-grid div {
    flex: 1;
    margin: 10px;
}

/* Pricing table */
.pricing-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.pricing-table {
    font-family: monospace;
    font-size: large;
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.pricing-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.pricing-table th, .pricing-table td {
    padding: 10px;
    border-bottom: 1px solid #7b7b7b;
}

/* Contact Form */
.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav .menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .show {
        display: flex !important;
    }

    .portfolio-grid, .offers-grid, .pricing-grid {
        flex-direction: column;
    }
}
 /* Reviews Slider */
 .review-slider {
    font-family: monospace;
    font-size: large;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.review-slider div {
    min-width: 300px;
    margin: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.navfooter {
    background-color: #333;
    padding: 15px;
    text-align: center; /* Align to the left */
    position: sticky;
    bottom: 0;
width: 100%;
height: 50px;
  }

  /* Pricing table */
.contact-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-table {
    font-family: monospace;
    font-size: large;
    flex: 1;
    width: 100%;
    margin: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.contact-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.contact-table th, .contact-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.circular-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 5%;
  overflow: hidden;
}

.circular-image {
  border-radius: 5%; /* Makes the image rounded */
  opacity: 1;
  transition: transform 0.5s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

/* Tu pridávame overlay */
.circular-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6667ab;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 5%;
  pointer-events: none; /* aby overlay neblokoval kliknutia na obrazok */
}

/* Hover efekt */
.circular-wrapper:hover .circular-overlay {
  opacity: 0.5;
}
  }
.circular5-image {
    border-radius: 5%; /* Makes the image circular */
    opacity: 1;
    transition: opacity 1s ease;
    
}
.circular5-image:hover {
    opacity: 0.3;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px); /* Start slightly lower */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End in the normal position */
    }
  }

  .block {
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

    /* Style for the pop-up bar */
        .popup-bar {
            background-color: #222222;
            color: #f2f2f2;
            padding: 20px;
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
            font-size: 16px;
            z-index: 1000;
            width: 90%;
            max-width: 400px;
            text-align: center;
            text-decoration:none;
        }

        /* Close button style */
        .popup-bar .close-btn {
            background-color: transparent;
            border: none;
            color: #f2f2f2;
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            bottom: 45px;
            right: 15px;
        }

  .container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Allows the items to wrap to the next line */
    justify-content: center; /* Center-aligns items */
}

.rectangle {
    color: #f2f2f2;
    width: 500px;
    background-color: #222;
    margin: 20px;
    border-radius: 15px;
    margin-bottom: 20px; /* Adds space when stacked */
}

.rectangle img {
    width: 100%;
    
}

.textik{
 padding: 2%;
 font-size: 18pt;

}
#countdown {
    text-align: center ;
    font-size: 18pt;
    color: #222222;
   }
.textik2 {
    text-align: center ;
    font-size: 18pt;
   }
   
   .textik3 {
   padding: 2%;
   background-color: #f2f2f2;
   color: #222222;
   font-size: 15pt;
   width: 25%;
   border-bottom-left-radius: 5px; 
   border-top-right-radius: 5px;
   }
   
.textik3:hover {
    background-color: #ffee7b ;
    color: #222222;
}

   .textik4 {
    padding: 2%;
    background-color: #f2f2f2;
    color: #222; 
    font-size: 15pt;
    width: 25%;
    border-radius: 5px; 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center; 
    }
    .textik4:hover {
        background-color: #d7be08 ;
        color: #222222;
    }


/* Responsive Styling */
@media (max-width: 600px) {
    .rectangle {
        width: 100%; /* Full width for smaller screens */
    }
}

.dropdownsutaz {
    display: inline-block;
    position: relative; /* Ensures that the dropdown content is positioned relative to this element */
}

.dropdown-contentsutaz {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 20);
    z-index: 1;
    min-width: 160px;
    left: 50%;
    transform: translateX(-50%); /* Centers the dropdown content */
}

.dropdown-contentsutaz a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contentsutaz a:hover {
    background-color: #d7be08;
    color: #222222;
}

.dropdownsutaz:hover .dropdown-contentsutaz {
    display: block; /* Ensures dropdown content appears on hover */
}
.navbarsutaz {
    background-color: #333;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 18pt;
    display: flex;
    justify-content: center;
}
.navbarsutaz a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

.navbarsutaz a:hover {
    background-color: #d7be08;
    color: #222222;
}

.loginbutton {
    font-family: "Bartek-Industry";
    font-size: 20px;
    color: #222;
    background-color: #f2f2f2;
    border-radius: 15px; 
    border: none;
    padding: 8px;
}
.loginbutton:hover {
    color: #f2f2f2;
    background-color: #222;
}

.input1 {
    font-family: monospace;
    font-size: 18px;
}

.container2 {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Zabezpečí, že stĺpce sa môžu zlomiť na nový riadok */
}
.left-column2, .right-column2 {
    width: 48%; /* 48% pre jemnú medzeru medzi stĺpcami */
    padding: 10px;
}
.left-column2 {
    text-align: left;
}
.right-column2 {
    text-align: right;
}

/* Media query pre menšie obrazovky */
@media (max-width: 768px) {
    .left-column2, .right-column2 {
        width: 100%; /* Nastaví šírku stĺpcov na 100%, aby sa zoradili pod seba */
        text-align: center; /* Alternatívne môžete nastaviť text na stred na mobilných zariadeniach */
    }
}

/* Základné štýly pre leaderboard */
.leaderboard-container {
    width: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    font-size: 25px;
   
}

.leaderboard-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    font-family: monospace;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 10px;
    text-align: left;
}

.leaderboard-table th {
    background-color: #d7be08;
    color: white;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaderboard-table tr:hover {
    background-color: #ddd;
}
.circlu {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    text-align: center; 
    margin-top: 5%;
    }
    .circlu img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.gear-section {
  padding: 60px 20px;
  background-color: #f8f8f8;
}

.gear-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.gear-image {
  flex: 1 1 400px;
  text-align: center;
}

.gear-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.gear-description {
  flex: 1 1 400px;
  padding: 20px;
}

.gear-description h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.gear-description p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

